<h1>Only a logged in person can see this</h1>
</h2>
<hr>  
<ul>Add
  <li>add work order --> work_orders/new</ <%= link_to 'New Work Order', new_work_order_path %>
   </li>
  <li>add employee --> employees/new</li>
  <li>add equipment --> equipment/new</li>
</ul>
<hr>
<ul>View
  <li>view equipment --> equipment/index</li>
  <li>view employees --> employees/index and/or dropdown</li>
  <li>view work orders --> work_orders/index and/or dropdown and/or list with five most recent</li>
</ul>