<h1>Only a logged in person can see this</h1>
  <ul>
    <li>
      <a href="../work_orders">Work Orders</a>
    </li>
    <li>
      <a href="../work_orders/new">New Work Order</a>
    </li>
    <li>
      <a href="../equipment">Equipment List</a>
    </li>
    <li>
      <a href="../employees">Technicians</a>
    </li>
  </ul>